html,
body {
    background-color: black;

    background-image: url("../images/bruce_springsteen.jpg");
    background-size: contain;
    background-attachment: fixed;

    background-repeat: no-repeat;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.4em;
}

h1 {
    color:rgba(224,22,43,.8);
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin: .5em;
    text-shadow: 2px 2px #000;
}

h2 {
    margin-top: 1em;
    position: fixed;
    text-shadow: 2px 2px #000;
}
h2:first-of-type {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* CLEAR FIX */

/* ::  more widely adopted for pseudo elements because it provides support for IE8 */

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

header,
section {
    margin: 0 auto;
    width: 960px;
}

button {
    background:rgba(255,0,0, .5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    letter-spacing: .5em;
    margin: 3em auto;
    padding: .5em .5em .5em 1em;
}

.hidden {
    display: none;
    height: 0;
}
.main-text {
    background: rgba(255,255,255,.1);
    border:2px solid white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 1em;
}

.question {
    border-bottom: 1px solid gray;
    padding: 2em 0;
    text-shadow: 2px 2px #000;
}
.question:last-of-type {
    border-bottom: 0;
    /* padding: 2em 0; */
}
footer {
    margin: 2em auto 0;
    width: 960px;
    text-align: center;
}

.copyright {
    font-size: .5em;
}